.payment-form{
  padding: 5px 15px;
  text-align: center;
  border-radius: 2px;
  margin-left: 10px;
}

.pix {
  border: solid 1px #3F83F8;
  color: #3F83F8;
}

.other-payment {
  border: solid 1px gray;
  color: gray;
}
