<app-header
  [userLogged]="userLogged"
  [showSubNav]="false"
>
</app-header>

<div class="bg-gray-100 p-10">

  <div class="w-full bg-white mb-5">
    @if(hasItemInCart) {
      <app-list-cart-items
        [cartItems]="cartItems"
        (removeItemEvent)="removeItem($event)"
        (selectItemToBuyEvent)="selectItemToBuy($event)"
      >
      </app-list-cart-items>

      <div class="flex justify-end p-5">
        <button class="btn-add-cart" (click)="buyItems()">Continuar</button>
      </div>

    } @else{
      <app-empty-cart-message></app-empty-cart-message>
    }
  </div>


  
  <div class="p-3 bg-white overflow-y-auto">
    <p class="mb-2 font-lg">Você também pode gostar</p>
    <div class="flex items-center justify-evenly">
      @for (productRecomend of prodcutsRecomendation; track $index) {
        <app-product-item-card
          [product]="productRecomend">
        </app-product-item-card>
      }
    </div>
  </div>

</div>
