<div class="flex flex-col dark:text-gray-100">
    @if(formAccountForm){
        <div class="p-5 mt-3">
            <h5 class="text-lg">Conta</h5>
            <hr>
            <p class="my-2">Nome: {{  formAccountForm.get('name')?.value ?? '???'}}</p>
            <p class="my-2">CPF: {{ formAccountForm.get('cpf')?.value ?? '???' }}</p>
            <p class="my-2">Telefone: {{ formAccountForm.get('phone')?.value ?? '???'}}</p>
            <p class="my-2">Email: {{ formAccountForm.get('email')?.value ?? '???'}}</p>
        </div>
    }

    @if(formAddressForm){
        <div class="p-5 mt-3">
            <h5 class="text-lg font-bold">Endereço</h5>
            <hr>
            <p class="my-2">CEP: {{  formAddressForm.get('cep')?.value ?? '???' }}</p>
            <p class="my-2">Rua: {{ formAddressForm.get('address')?.value ?? '???'}}</p>
            <p class="my-2">Numero: {{ formAddressForm.get('number')?.value ?? '???' }}</p>
            <p class="my-2">Cidade: {{ formAddressForm.get('city')?.value ?? '???' }}</p>
            <p class="my-2">Estado: {{ formAddressForm.get('state')?.value ?? '???' }}</p>
        </div>
    }

</div>

<hr class="h-1 bg-gray-400 mt-5 mb-3">


@if (!formAccountForm || !formAccountForm.valid){
    <p class="my-5 text-red-500 font-bold text-center">Preencha todos os campos obrigatórios de Conta</p>
}

@if (!formAddressForm || !formAddressForm.valid){
    <p class="my-5 text-red-500 font-bold text-center">Preencha todos os campos obrigatórios de Endereço</p>
}

@if ((formAddressForm && formAddressForm.valid) && (formAccountForm && formAccountForm.valid)){
    <p class="my-5 text-green-500 font-bold text-center">Formulário validado! Finalize seu cadastro no botão "Cadastrar"</p>
} 
