<div class="w-full flex justify-between items-center">

    <div class="flex items-start 1/2">
      <img [ngSrc]='productSelected.image === "" ? "/public/icons/not-found.jpg" : productSelected.image' width="100" height="70" alt="Imagem do produto {{productSelected.productName}}">
      <span class="text-md ml-5 mt-5">{{ productSelected.productName | truncate:40 }}</span>
    </div>

    <div class="flex items-center w-1/2 justify-around">
      <span class="text-sm ml-5">{{ productSelected.price | currency:'BRL' }}</span>
      <span class="text-sm">{{ productSelected.quantity }}</span>
      <span class="text-sm">{{ productSelected.price * productSelected.quantity | currency:'BRL' }}</span>
    </div>

</div>
